<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Laboratorio 18</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/principal">
                  Respuestas
                </a>
          
                <a class="navbar-item">
                  Documentation
                </a>
          
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Problemas
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="principal/problema1">
                      Problema 1
                    </a>
                    <a class="navbar-item" href="/problema2">
                      Problema 2
                    </a>
                    <a class="navbar-item" href="/problema3">
                      Problema 3
                    </a>
                    <a class="navbar-item" href="/problema4">
                        Problema 4
                    </a>
                    <a class="navbar-item" href="/problema5">
                        Problema 5
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/problema6">
                      Convertidor de Temperatura
                    </a>
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <% if (username == '') { %>
                      <a href="/users/signup" class="button is-primary">
                        <strong>Registrarse</strong>
                      </a>
                      <a href="/users/login" class="button is-light">
                        Entrar
                      </a>
                    <% } else { %>
                      <span>
                        Hola <strong><%= username %> | </strong>
                      </span>
                      <a href="/users/logout" class="button is-danger">
                        Salir
                      </a>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </nav>