<%- include('includes/head.ejs') %>

<h1 class="title">Problema 2</h1>

<div class="section">
    <div class="container">
      <div class="field">
        <label class="label" id="pregunta2">¿Cuál es el resultado de la suma?</label>
        <div class="control">
          <input class="input" type="text" id="respuestaUsuario2" placeholder="Introduce un número" name="respuesta2" required>
        </div>
      </div>
      <div class="control">
        <button id="enviarRespuesta2" class="button is-primary">Enviar</button>
      </div>
      <div id="resultado2" class="notification is-hidden"></div>
    </div>
</div>


<%- include('includes/foot.ejs') %>