<%- include('includes/head.ejs') %>

<h1 class="title">Problema 5</h1>

<div class="section">
    <div class="container">
        <div class="field">
            <label class="label" id="pregunta5">Ingresa un número para invertir</label>
            <div class="control">
                <input class="input" type="text" id="respuestaUsuario5"  placeholder="Introduce un número" name="respuesta5" required>
            </div>
        </div>
        <div class="control">
            <button class="button is-primary" id="enviarRespuesta5">Enviar</button>
        </div>
        <ul id="resultado5" class="notification is-hidden"></ul>
    </div>
</div>



<%- include('includes/foot.ejs') %>