<%- include('includes/head.ejs') %>

<h1 class="title">HEWO</h1>


        <% for (let respuesta of respuestas) { %>
            
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                        Usted introdujo = <%= respuesta.input_usuario %> <br>
                        La respuesta dada es = <%= respuesta.output_problema %> 
                        </div>
                    </div>
                </div>
            </div>
       <% } %>

<%- include('includes/foot.ejs') %>