<%- include('includes/head.ejs') %>

<h1 class="title">Problema 4</h1>

<div class="section">
    <div class="container">
      <div class="field">
        <label class="label" id="pregunta4">Introduce 9 valores:</label>
        <div class="control">
          <input class="input" type="text" id="respuestaUsuario4" required>
        </div>
      </div>
      <div class="control">
        <button class="button is-link" id="agregarValor2">Agregar Valor</button>
      </div>
      <div>
        <ul id="listaValores" class="notification is-hidden"></ul>
        <ul id="respuesta4" class="notification is-hidden"></ul>
      </div>
    </div>
</div>


<%- include('includes/foot.ejs') %>